version: "3.9"

services:
  backend:
    build: ../backend
    container_name: air-backend
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - ../backend:/app
    working_dir: /app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: air-postgres
    environment:
      POSTGRES_USER: airuser
      POSTGRES_PASSWORD: airpassword
      POSTGRES_DB: airdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always

volumes:
  postgres_data:
